extends layout

block content
    table.table.table-striped.table-dark.table-bordered.table-hover
        thead
            tr
                th S Wins
                th Non-S Wins
        tbody
            tr 
                td #{sWinResults}
                td #{nonSWinResults}